@charset "utf-8";
/* CSS Document */
table.tabla_reporte{
	border: 1px solid #999;
	border-collapse: collapse;
	width: 100%;
}
table.tabla_reporte th {
	border: 1px solid #999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	color: #FFF;
	background-color: #666;
	text-align: center;
	height: auto;
	width: auto;
	padding: 5px;
}
table.tabla_reporte td {
	border: 1px solid #999;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	color: #000;
	background-color: #FFFFFF;
	padding: 4px;
}

letra {
	font-family: Verdana, Geneva, sans-serif;
}
